.days{
    left: 6%;
    border: solid 2px black;
    margin: 1%;
    width: 8%;
}
.container {
    display: flex;
    justify-content: center;
}
.display{
    display: flex;
    margin-left: 3%;
}

.input{
    height: 6%;
    width: 5.8%;
    margin-top:1.5%;
    margin-left: 1%;
    justify-content: center;
}