table {
    width: 96%;
    border-collapse: collapse;
    margin:2%;
  }
  
  thead th {
    background-color: #a65dda;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    
  }
  tbody tr {
    background-color: #ff3333; /* Red color for all data rows */
    color: white; /* White text color for all data rows */
    font-weight: bolder;
    border: 3px solid white;
  }
  
  /* tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #fff;
  } */
  
  tbody td {
    padding: 10px;
  }
  
  button {
    padding: 8px 16px;
    background-color: white;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
  }
  
  button:hover {
    background-color: #45a049;
    color: white;
  }
  
  .title{
    color: white;
    font-size: larger;
  }
  