table {
    width: 96%;
    border-collapse: collapse;
    margin:2%;
  }
  
  thead th {
    background-color: #a65dda;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    
  }
  thead {
    border: 3px solid white;
  }
  tbody tr {
    /* background-color: #ff3333; Red color for all data rows */
    color: white; /* White text color for all data rows */
    font-weight: bolder;
    border: 3px solid white;
  }

  /* tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #fff;
  } */
  
  tbody td {
    padding: 10px;
  }
  
  button {
    padding: 8px 16px;
    background-color: white;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
  }
  
  button:hover {
    background-color: #45a049;
    color: white;
  }
  
  .title{
    color: white;
    font-size: larger;
    margin-top: 1%;
  }

.taginput{
  width: 25%;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.5);
  margin: 1%;
  padding: 1%;
}

.searchbar{
  width: 25%;
  padding: 1%;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.upload-button {
margin: 0.5%;

}
